@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: "Sedan";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(data-base64:~assets/fonts/Sedan-Regular.ttf);
  }
}


body {
  font-size: 16px;
  @apply antialiased;
}

.markdown-rendered a {
  color: #3498db;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.markdown-rendered a:hover {
  color: #0056b3;
  text-decoration: none;
}